<!doctype html>
<html dir="auto" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>רטרו סטרים - שירות הסטרימינג של הנוסטלגיה הישראלית</title>
    <link rel="icon" href="Assets/favicon.png" type="image/png" /> <!--site's favicon-->
    <link rel="stylesheet" href="/css/shared.css">
    <link rel="stylesheet" href="/css/login.css"> <!--reference to a style code block -->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  </head>
  

  <body>
    <div class="wrapper">
      <h1 id="headline">התחברות לרטרו סטרים</h1>
      <form id="myform" novalidate>
        <input type="email" id="email" placeholder="אי-מייל" required /> <br />
        <input type="password" id="password" placeholder="סיסמא" required />
        <br />
        <p id="message"></p>
        <div class="remember-forget">
          <label><input id="checkbox" type="checkbox" /> תזכור אותי</label>
          <a id="forgot" class="formlink" href="#">שכחת סיסמא?</a>
        </div>
        <button id="submit" type="submit">התחברות</button>
      
      </form>
     <p>אין לך חשבון? <a id= "signup" class="formlink" href="/register">הירשם עכשיו</a></p>
    </div>
    <script src="/js/login.js"></script>
  </body>
</html>